.btn-primary {
  margin-right: 30px;
}

.option-font {
  padding-bottom: 5px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-sub-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-container {
  width: 250px;
  margin-bottom: 5vh;
}
