.chart-container {
  width: 100%;
  position: relative;
}

.chart-submit {
  position: absolute;
  right: 0;
}

.chart {
  padding-top: 30px;
}

.none-chart {
  height: 400px;
  background-color: #d8d8d8;
  text-align: center;
  padding-top: 20%;
  color: #848484;
  font-size: xx-large;
}
